section {
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

table, th, td {
  border: 1px solid lightgray;
  padding: 25px;
}

table i {
  padding: 0 5px;
  color: gray;
  cursor: pointer;
}